java/.idea/**
java/target/**
scala/.idea/**
scala/target/**
scala/project/target/**
go/.idea/**
go/pkg/**
python/.idea/**
python/venv/**
c++/cmake-build-debug/**
c++/.idea/**
javascript/.idea/**
javascript/node_modules/**
.DS_Store
