**/.idea/**
**/target/**
scala/project/target/**
scala/null
scala/.bsp
go/pkg/**
python/venv/**
python/**/__pycache__/**
c++/cmake-build-debug/**
javascript/node_modules/**
.DS_Store
**/*.iml
**/out/**
